name: Build and publish

on:
  pull_request:
  push:
    tags:
    - v*

# Only allow one instance of this workflow for each PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v6
    - uses: hynek/build-and-inspect-python-package@v2

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    needs: [build]
    if: github.repository_owner == 'samueljsb' && github.ref_type == 'tag'

    environment: publish
    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v6
      with:
        name: Packages
        path: dist

    - uses: pypa/gh-action-pypi-publish@release/v1
